@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
    background-color: #2e3440;
}

.container{
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


.search-box{
    background-color: #4c566a;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80%;
    height: 5%;
    border-radius: 2rem;
    padding:1%;
    overflow: hidden;
}


.search-icon{
    width: 5vw;
    height: 5vw;
    padding-right: 1rem;
}

.input{
    width: 100%;
    background-color: #4c566a;
    border: none;
    font-family: 'Poppins';
    font-size: 5vw;
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 2.5vw;
    transition: all 0.3s ease-in-out;
}




.input:hover{
    letter-spacing: 1px;
}

.cards{
    width: 80%;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    gap:5vw;
    justify-content: left;
    flex-basis: 0;
}

.card{
    border-radius: 1rem;
    border: #4c566a 1px solid;
}

.icon{
    height: 10vw;
    width: 10vw;
    color: #4c566a;
    font-size: 10vw;
    transition: all 0.3s ease-out;
    padding:5px;
}

.icon:hover{
    color: #81a1c1;
}


.card1{
    padding: 5px;
    width: 28vw;
    background-color: #313744;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    gap:1vh;
    flex-wrap: wrap;
}

.card2{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.time,
.date{
    margin:0;
    font-family: 'Poppins';
    font-weight: bold;
    color: white;
}

.time{
    padding: 1vw;;
    font-size: 5vw;
}
